@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/*font-family: 'Noto Sans KR', sans-serif;*/
html{font-family: 'Noto Sans KR', sans-serif; font-size:14px;}
img{vertical-align:top;}
a{text-decoration:none;}
a:link,a:visited,a:hover,a:active{color:#333;}